*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-toggle {
    background-color: transparent;
    border-color: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 300ms;
}

.nav-toggle:hover {
    transform: scale(1.1);
}

.logo {
    height: 40px;
}

.links a {
    text-transform: capitalize;
    font-size: 1rem;
    padding: .5rem 1rem;
    display: block;
    color: rgb(77, 77, 77);
    transition: 300ms;
}

.links a:hover {
    background-color: gray;
    color: white;
}

.social-icons {
    display: none;
}

.links {
    height: 0;
    overflow: hidden;
    transition: 300ms;
}

.show-links {
    height: 10rem;
}

/* media queries */
@media screen and (min-width:800px) {
    .nav-center {
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
    }

    .nav-header {
        padding: 0;
    }

    .links {
        height: auto;
        display: flex;
    }

    .links a {
        padding: .2rem 1rem;
    }

    .social-icons {
        display: flex;
    }

    .social-icons a {
        margin: 0 .5rem;
        color: #222;
        transition: 300ms;
    }

    .social-icons a:hover {
        color: rgb(56, 168, 232);
        ;
    }

    .nav-toggle {
        display: none;
    }
}